langchain==0.3.14
google-generativeai==0.8.3
langchain_google_genai==2.0.7
langchain_community
streamlit
PyPDF2==3.0.1
python-dotenv==1.0.1
firebase-admin
faiss-cpu==1.9.0
pymupdf
uvicorn
fastapi
validators
pyrebase4
python-multipart
pycryptodome==3.18.0
apscheduler
wikipedia
arxiv
validators==0.18.2
requests==2.31.0
tenacity==8.2.3
typing-extensions==4.10.0
