langchain
google-generativeai
langchain_google_genai
langchain_community
streamlit
langchain
langchain-google-genai
langchain-community
pypdf
python-dotenv
firebase-admin
faiss-cpu
pymupdf
uvicorn
fastapi
validators
pyrebase
python-multipart
pycrypto==2.6.1 --no-binary pycrypto
